node_modules

/.cache
/build
/public/build

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
#.env.*
!env.MD

.secret

# local parameters
params-local.env
pnpm-lock.yaml

**/bak/*/

# temp exclude for migration
/app/*