/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600&family=Kanit:wght@100;200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  body, input, select, option{
  font-family: 'Kanit', sans-serif;
  /* color: theme('colors.blueMV.dark'); */
  /* background-color: theme('colors.whiteMV'); */
   /* @apply text-blueMV-dark bg-whiteMV */
   /*dark:text-whiteMV dark:bg-blackMV*/ ;
}

} /* @layer base */

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}